*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  font-size: 10px;
}

.wrapper{
  max-width: 1280px;
  padding: 0 80px 0 80px;
  margin: auto;

  @media #{$tablet}{
    padding: 0 40px 0 40px;
  }

  @media #{$mobile}{
    padding: 0 20px 0 20px;
  }
}

.cb{
  clear: both;
}

.button{
  display: inline-block;
  padding: 0 4rem 0 4rem;
  height: 5rem;
  line-height: 5rem;

  @include border-radius(35px);

  font-size:1.6rem;
  font-family: $font-title;
  font-weight: 500;

  text-decoration: none;

  @include transition-property(background);
  @include transition-duration(0.4s);

  @media #{$mobile}{
    display: table;
    padding: 0rem 5rem;
    margin: auto;
    text-align: center;
  }
}

.button.style1{
  background:$color-blue;
  color: #fff;

  &:hover{
    background:$color-red;
  }
}

.button.style2{
  border: 2px solid #fff;
  color: #fff;

  &:hover{
    background-color: #fff;
    color: #333;
  }
}

.col-6{
  display: inline-block;
  width: 49%;
}

.col-m-12{
  @media #{$mobile}{
    width: 100%;
  }
}

a{
  text-decoration: none;
  color: inherit;
  @include transition-property(color);
  @include transition-duration(0.4s);
}

h1,
h2,
h3,
h4,
h5{
  font-family: $font-title;
  font-weight: 600;
}

p{
  font-family: $font-content;
}

section{
  margin: 0 auto 0 auto;
  padding: 7rem 0 7rem 0;
  text-align: center;

  h2{
    font-size: 3.8rem;
    line-height: 4.4rem;
    margin-bottom: 3rem;

    @media #{$mobile}{
      font-size: 2.8rem;
      line-height: 3.4rem;
    }
  }

  h3{
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }

  p{
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}