footer{
  background-color: #1e1e1e;
  color: $color-grey;
  font-size: 1.8rem;
  font-family: $font-content;

  .wrapper{
    position: relative;
    max-width: 1300px;
    padding-top: 6rem;
    padding-bottom: 3rem;

    @media #{$mobile}{
      padding-top: 3rem;
    }

    .copyright{
      margin-top: 10rem;
      font-size: 1.3rem;

      @media #{$mobile}{
        margin-top: 2rem;
        text-align: center;
      }
    }

    .col-6{
      vertical-align: top;

      @media #{$mobile}{
        text-align: center;
      }

      .logo{
        margin-bottom: 1.5rem;
      }

      p{
        font-family: 'Bariol-Regular';
        line-height: 2rem;

        @media #{$mobile}{
          display: none;
        }
      }

      .right{
        float: right;
        line-height: 2.5rem;
        @media #{$mobile}{
          margin-top: 0;
          float: initial;
        }

        .about,
        .contact{
          min-width: 15rem;
          vertical-align: top;
          font-size: 1.4rem;

          @media #{$mobile}{
            margin-bottom: 1.2rem;
          }

          li{
            &:first-child{
              @media #{$mobile}{
                display: none;
              }
            }
          }

          a{
            &:hover{
              color: $color-red;
            }
          }

          strong{
            font-family: 1.6rem;
            text-transform: uppercase;
            color: #fff;
          }

          .fa{
            margin-right: 0.5rem;
            margin-top: 1rem;
            font-size: 2rem;
            color: $color-grey;

            @media #{$mobile}{
              font-size: 3.4rem;
              letter-spacing: .5rem;
            }
          }
        }

        .about{
          li{
            @media #{$mobile}{
              width: 20%;
              display: inline-block;
              text-align: center;
              font-weight: 700;
              font-size: 1.2rem;
            }
          }
        }
        .contact{
          li{
            @media #{$mobile}{
              width: auto;
              display: inline-block;
              text-align: center;
            }

            &:last-child{
              @media #{$mobile}{
                width: auto;
                display: block;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}