.form-input{
  position: relative;
  width: 95%;
  margin-bottom: 1rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  @include border-radius(2px);

  input{
    height: 5rem;
    width: 100%;
    border: 0;
    padding-left: 5rem;
    color: #fff;
    font-size: 1.5rem;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    @include input-placeholder {
      color: #fff;
      font-size: 1.6rem;
      font-family: $font-content;
      font-weight: 600;
    }
  }

  i{
    position: absolute;
    left: 2rem;
    font-size: 1.8rem;
    line-height: 5rem;
  }
}

.form-submit{
  position: relative;
  width: 95%;
  margin-bottom: 1rem;
  border: 1px solid transparent;

  .button{
    width: 100%;
    background: $color-blue;
    color: #fff;
    font-size: 1.5rem;
    @include border-radius(2px);

    &:hover{
      background: $color-red;
    }
  }
}