header{
  position: relative;

  width: 100%;
  height: 100%;

  color: #fff;

  background-image: url('../../img/layout/header_1.jpg');
  background-position: center center;
  @include background-size(cover);

  .logo{
    position: absolute;
    display: inline-block;
    width: 326px;
    padding: 1.5rem 0px 1.5rem 2rem;
    background-image: url('../../img/layout/bg_logo.png');
    background-position: right top;
    background-repeat: no-repeat;
    z-index: 2;

    @media #{$mobile}{
      width: 60%;
    }

    .partoo{
      margin-right: 2rem;
      width: 33%;
    }

    .axa{
      width: 20%;
    }
  }

  nav{
    position: relative;
    float: right;
    margin: 2rem 4rem 0 0;
    z-index: 2;

    @media #{$mobile}{
      margin: 1.5rem 1rem 0 0;
    }

    a.button{
      @media #{$mobile}{
        padding: 0 3rem;
        @include border-radius(2px);
      }
    }
  }

  .wrapper{
    position: relative;
    height: 100%;

    .content{
      position: absolute;
      bottom: 10rem;
      max-width: 655px;

      @media #{$mobile}{
        bottom: 5rem;
        left: 2rem;
        right: 2rem;
      }

      h1{
        font-size: 4.9rem;
        line-height: 5.7rem;

        @media #{$mobile}{
          font-size: 4rem;
          line-height: 4.7rem;
          text-align: center;
        }
      }

      p{
        margin: 2.5rem 0 2.5rem 0;
        font-size: 1.8rem;
        line-height: 2.6rem;

        @media #{$mobile}{
          text-align: center;
        }
      }
    }
  }
}