section{


  /*
  BLOCK PARTENAIRE ---------------------------------
  */
  &.partenaires{
    max-width: 930px;
    color: $text-color;

    h2{
      color: $color-blue;
      span{
        color: $color-red;
      }
    }

    p{
      line-height: 2.7rem;
      font-weight: 300;
    }

    .marques{
      margin-top: 6rem;
      text-align: left;

      @media #{$mobile}{
        display: none;
      }

      .marque{
        display: inline-block;
        height: 10rem;
        width: 15rem;
        vertical-align: top;
      }
    }
  }



  /*
  BLOCK PEUT VOUS AIDER ---------------------------------
  */
  &.aider{
    position: relative;
    background-image: url('../../img/layout/bg_aider.jpg');
    background-position: center center;
    @include background-size(cover);

    color: #fff;
    .wrapper{
      padding: 0 40px 0 40px;

      @media #{$mobile}{
        padding: 0 20px 0 20px;
      }

      .card{
        display: inline-block;
        width: 16.5%;
        height: 40rem;
        margin-right: 1%;
        vertical-align: top;

        @media #{$tablet}{
          width: 32%;
        }

        @media #{$mobile}{
          width: 48%;
          height: auto;
          margin-bottom: 4rem;
        }

        @media #{$sm-mobile}{
          width: 100%;
        }

        &:last-child{
          margin-right: 0;
        }

        .img{
          margin-bottom: 1.5rem;

          img{
            width: 15rem;
          }
        }

        .ariane{
          display: inline-block;
          height: 3rem;
          width: 3rem;
          line-height: 3rem;
          margin-bottom: 1.5rem;
          background-color: $color-blue;
          @include border-radius(50px);
          font-family: $font-title;
          font-weight: 500;
        }

        h3{
          text-transform: uppercase;
        }

        p.desc{
          font-size: 1.5rem;
        }
      }
    }


    p.reduction{
      margin-top: 6rem;
      font-family: $font-title;
      font-size: 1.8rem;
      line-height: 2.6rem;

      @media #{$mobile}{
        margin-top: 2rem;
      }

      .prix{
        display: inline-block;
        margin-top: 2.5rem;
        font-size: 5rem;
        font-weight: 500;
        line-height: 5rem;

        .star{
          vertical-align: top;
          font-size: .5em;
        }
      }

      .prix-barre{
        font-size: 2.4rem;
        font-weight: 500;
        color: $color-red;
        text-decoration: line-through;
      }

      .button{
        margin-top: 2.5rem;
      }
    }

    .hors-taxe{
      position: absolute;
      bottom: 2.5rem;
      left: 1.5rem;

      p{
        font-style: italic;
        font-size: 1.2rem;
      }
    }
  }



  /*
  BLOCK AVANT APRES ---------------------------------
  */
  &.before-after{
    h2{
      color: $color-blue;
      span{
        color: $color-red;
      }
      i{
        font-family: $font-content;
        font-weight: 100;
        font-style: italic;
      }
    }

    .wrapper{
      max-width: 90%;
      margin: auto;

      .button_prev,
      .button_next{
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
      }
      .button_prev {
        left: -35px;
      }
      .button_next {
        right: -35px;
      }

      .slide{
        height: auto !important;
        outline: none;

        p{
          max-width: 70rem;
          margin: auto;
          line-height: 2.7rem;
          font-weight: 300;
          color: $color-grey;
        }

        .img_slider{
          width: 100%;
        }
      }
    }
  }



  /*
  BLOCK AMELIORER VISIBILITE ---------------------------------
  */
  &.contact{
    background-image: url('../../img/layout/bg_form.jpg');
    background-position: center center;
    @include background-size(cover);

    color: #fff;

    .content{
      width: 100%;
      max-width: 500px;
      margin: auto;
    }

    .form-input,
    .form-submit{
      @media #{$mobile}{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }



  /*
  BLOCK DEVELOPPER ACTIVITE ---------------------------------
  */
  &.activite{
    background-image: url('../../img/layout/bg_activite.jpg');
    background-position: center center;
    @include background-size(cover);
    color: $text-color;

    h2{
      color: $color-blue;
    }

    .button{
      background: $color-red;

      &:hover{
        background: $color-blue;
      }
    }
  }
}
