$font-title: "Poppins";
$font-content: "Open Sans";

$text-color: #6e6e6e;

$color-blue: #213683;
$color-red: #f32617;
$color-grey: #999999;

// Media Query mobile
$sm-mobile: "screen and (max-width: 400px)";
$mobile: "screen and (max-width: 640px)";
$tablet: "screen and (max-width: 1080px)";

@font-face {
  font-family: 'Bariol-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol-Regular'), url('../../assets/fonts/Bariol.woff') format('woff'), url('../../assets/fonts/Bariol.ttf') format('ttf');
}
